[class*="i-icon-"] { display:inline-block; background-image: url(D:\vite-plugin-spritesmith2\example\src\sprite\img\sprite_normal.png); background-size:92px 58px; }
.i-icon-ic-buy { width: 24px; height: 24px; background-position: 0px 0px; }
.i-icon-ic-data { width: 24px; height: 24px; background-position: -34px 0px; }
.i-icon-ic-payment { width: 24px; height: 24px; background-position: 0px -34px; }
.i-icon-ic-safe { width: 24px; height: 24px; background-position: -34px -34px; }
.i-icon-ic-search { width: 24px; height: 24px; background-position: -68px 0px; }
.i-icon-ic-transition { width: 24px; height: 24px; background-position: -68px -34px; }